.tour__conteiner {
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  padding: 4rem 0;
  justify-content: space-around;
  background-size: cover;
  background-position: bottom;
  width: -webkit-fill-available;
}

.tour__conteiner--sp {
  background-image: url(../../imgs/sao-paulo.jpg);
}

.tour__conteiner--rj {
  background-image: url(../../imgs/rio-de-janeiro.jpg);
}

.tour__conteiner--bh {
  background-image: url(../../imgs/bahia.jpg);
}

@media screen and (min-width: 834px) {
  .tour__conteiner {
    padding: 4rem;
  }
}

@media screen and (min-width: 1366px) {
  .tour__conteiner {
    width: 50%;
  }
}