.membros__card{
    background: white;
    width: 27rem;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.membros__card:last-child{
    margin: 0;
}

@media screen and (min-width: 834px){
    .membros__card{
        margin-bottom: 0;
    }
}