.letter__botao{
    color: var(--banda);
    background-color: black;
    border: 0;
    width: 18rem;
    height: 5rem;
    display: block;
    margin: 1rem auto 0 auto;
    text-transform: uppercase;
    transition: background-color .5s, color .5s ;
    cursor: pointer;
}


.letter__botao:hover {
    color: black;
    background-color: var(--banda);
}