.banner__dot{
    background-color: rgba(242, 191, 25, 20%);
    border: .2rem solid var(--banda);
    border-radius: 100%;
    box-sizing: border-box;
    height: 5rem;
    width: 5rem;
    transition: background-color .5s;
    cursor: pointer;
}

.banner__dot:hover{
    background-color: var(--banda-escuro);
}

.banner__dot--active, .banner__dot:focus{
    background-color: var(--banda--focus);
}